<nav class="navbar navbar-inverse navigation navbar-static-top" role="navigation">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="/" class="navbar-brand"><span class="fa fa-location-arrow"></span> TrackR</a>
    </div>

    <div class="collapse navbar-collapse" id="app-nav">
      <ul class="nav navbar-nav">
        <li><a class="" href="#">Dashboard</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a place...">
        </div>
        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
      </form>
    </div>

  </div>
</nav>
