<% include head.html %>
<% include nav.html %>
<% if (session.passport.user) { %>
  <% include ../infopanel.html %>
<% } %>
<div class="map-wrapper">

  <% if (!session.passport.user) { %>
  <% include ../login/login-panel.html %>
  <% } %>

  <!-- This should be integrated via a frontend framework

  <script type="text/html" id="loginForm">
    <div class="jumbotron login-panel clearfix">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <form action="/login" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </script>
  -->
  <div class="map-canvas"></div>
</div>
<script>
  var userProfileImage = "<%= session.passport.user && user.get('google').profileImage || '' %>";
</script>
<% include footer.html %>
