<% include head.html %>
<h1><%= title + ' ' + hash %></h1>
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('connected', function(data) {
      var hasGeo = 'geolocation' in window.navigator;
      function showData(position) {
        console.log(position);
        socket.emit('localized', {coords: position.coords});
      }

      if (hasGeo) {
        
        navigator.geolocation.getCurrentPosition(showData);

      }
      console.log(data);
  });
  sessionStorage.setItem('phone', '<%= phone %>');
</script>
<% include footer.html %>
