  <nav class="navbar navbar-default navigation" role="navigation">
    <div class="container container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sample-target-id">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand">GetHelp</a>
      </div>
      <div class="collapse navbar-collapse" id="sample-target-id">
        <ul class="nav nav-pills">
          <li><a class="" href="/login">Log in/Register</a></li>
          <li><a class="" href="/get-help">Get help</a></li>
        </ul>

      </div>
    </div>
  </nav>
