body {
  background: #fff;
  height: 100%;

  .main {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .login-panel,
  .navigation {
    margin-bottom: 0;
  }

  .translucent {
    position: relative;
    opacity: 0;
  }

  .login-panel {
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
  }

  .form-wrapper {
    margin-top: 15%;
    background-color: rgba(60,60,60,0.8);
    z-index:1;
  }


  .map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    z-index: 0;

  }
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
