@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\000031}}
body {
  background: #fff;
  height: 100%;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\000036}}
body .main {
  width: 100%;
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000312}}
body .login-panel,
body .navigation {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000317}}
body .translucent {
  position: relative;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000322}}
body .brand-bg {
  background-color: tomato;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000326}}
body .brand-color {
  color: tomato;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000330}}
body .login-panel {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000337}}
body .form-wrapper {
  margin-top: 15%;
  background-color: rgba(60, 60, 60, 0.8);
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000344}}
body .map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000350}}
body .map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000360}}
body .profile-image {
  width: 60px;
  height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000367}}
body .details-view img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000374}}
body .cases-panel {
  position: relative;
  height: 100%;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000379}}
body .cases-panel .case {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrianoprea\/Documents\/Projects\/node-localisation\/public\/stylesheets\/sass\/style\.scss}line{font-family:\0000386}}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
